body{
    font-family: 'Playfair Display', serif; //This is our font via Google CDN
}

.parallax {
    background: url('/Users/haniabuzeid/Visual_studio_code/Gitfitt/Waves/BILDER/waves_desktop_para.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}