body{
    font-family: 'Playfair Display', serif; //This is our font via Google CDN
}

.parallax {
    background: url('images/waves_para_desktop.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}