@mixin flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    

    div {
        margin: .625rem;
        padding: 5px;
    }

}

@mixin flex-column{
    display: flex;
    flex-flow: column wrap;
}


@mixin padding-bot{
    padding-bottom: 2rem;
}

@mixin footer{
    color: $nav-color;
    text-shadow: 2px 1px $start-shadow;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 6px;
}

@mixin block-container{
    display:block;
    width: 100%;
}

@mixin footer-shared-block{
    float: left;
    width: 33.33%;
    min-height: 100%;
    color: $nav-color;
    text-decoration: none;
    text-align: center;
    font-size:0.5rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px $start-shadow;
}

@mixin footer-shared-flex{
color: $nav-color;
text-decoration: none;
text-align: center;
font-size:0.5rem;
letter-spacing: 5px;
text-shadow: 1px 1px $start-shadow;
    a{
        text-decoration: none;
        font-size:$fontsize-mobile;
        color: $logo-color;
    &:visited{
        color: $logo-color;
    }
    &:hover{
        font-size: 1rem;
        transition: all 400ms;
    }
        
} 

}