@mixin flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    div {
        margin: 15px;
        padding: 15px;
    }
}

@mixin contact-form{
	width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}