@mixin flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    

    div {
        margin: 10px;
        padding: 5px;
    }

}

@mixin contact-form{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;

}

@mixin padding-bot{
    padding-bottom: 2rem;
}

@mixin navbar {
    
    min-width: 100%;
    min-height: 20vh;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-family: $font-stack;
        
    a {
        color: $nav-color;
        text-transform: uppercase;
        padding-top: 6rem;
        padding-bottom: 0;
        transition: all 400ms;
        text-shadow: 2px 1px $start-shadow;
        text-decoration: none;
        text-align: center;
        font-size: 1.25rem;
        letter-spacing: 6px;
        // font-weight: bold;
        &:hover{
            color: $logo-color;
            // border-bottom: 3px solid $logo-color;
            font-size: 1.5rem;
            text-shadow: 2px 1px $start-shadow;
         }

     }
}