@mixin flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    

    div {
        margin: 10px;
        padding: 5px;
    }

}

@mixin flex-column{
    display: flex;
    flex-flow: column wrap;
}

@mixin flex-normal{
    flex-flow: row wrap;
    justify-content: center;
}

@mixin contact-form{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;

}

@mixin padding-bot{
    padding-bottom: 2rem;
}

@mixin footer{
    color: $nav-color;
    text-shadow: 2px 1px $start-shadow;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 6px;
}