nav{
	overflow: hidden; 
	ul{
		width: 100%;
		list-style-type: none;
		display: flex;
		
	}
	li{
		padding: 4rem;
	}
	a{
		color: black;
		text-decoration: none;
		// padding: 10px;
		display: block;
		text-align: center;

	}
}

