$font-stack: 'Playfair Display', serif;
$primary-color: #dacfc3;
$primary-color2: #387284;
$nav-color: rgba(245, 245, 245, 1);
$logo-color: rgba(115, 199, 203, 0.89);
$start-shadow: rgba(31, 42, 48, 1); 
$start-pic: url(../images/waves_para_mobile.jpg);
$waves-icon: url(../logos/waves_icon_300.png);
$width-mobile: "(max-width:400px)";
$width-padda: "(min-width:376px) and (max-width: 798px)";
$width-desktop: "(min-width:799px)";
$fontsize-mobile:0.8rem;
$waves-desk: url(../logos/waves_desktop_logo.png);
$waves-desk-small: url(../logos/waves_desktop_logo_600.png);
$padding: 2rem;