$font-stack: 'Playfair Display', serif;
$primary-color: #dacfc3;
$primary-color2: #387284;
$start-pic: url(../images/waves_para_mobile.jpg);
$waves-icon: url(../logos/waves_icon_300.png);
$widthmobile: "(max-width:699px)";
$fontsize-mobile:0.8rem;
$waves-desk: url(../logos/waves_desktop_logo.png);