@import 'variabel';
@import 'reset';
@import 'navbar';
@import 'button';
@import 'main';
@import 'footer';
@import 'aside';
@import 'mixins';
@supports not (display: flex){
.home-container {
    @include block-container;
    background-image: $waves-icon ,$start-pic;
    min-height: 80vh;;
    background-repeat: no-repeat,no-repeat;
    background-position: 50% 50%;
    background-size: auto, cover;
}


 
.about-us-container {
    @include block-container;
    background-color: $primary-color2;
    color: $primary-color;
    min-height: 100vh;
    padding: 6px;
    @include padding-bot;
    text-align: center;
    a{
        color: black;
        &:hover{
            color: $primary-color2;
        }
    }
    .about-box{
        padding: 0 2rem;
    }

}
.employees-container 
{   
    display: inline-block;
    min-width: 100vw;
    background-color: $primary-color2;
    color: $primary-color;
    div {
        float: left;
        background-color: $primary-color;
        color: black;
        width: 30%;
        margin: 0 4px;
        
    }

}
.assignment-container {
    @include block-container;
    min-height: 100vh;
    background-color: $primary-color;
    color: black;
    padding: 3rem;
    text-align: center;
    
    }
    .assignment-1{
        margin-bottom: 4rem;
    }


.services-container {
    @include block-container;
    background-color: $primary-color2;
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: $primary-color2;
    header{
        width: 100%;
        color:white;
    }
   
        a:link {
            text-decoration: none;
            color:white
        }
        a:visited {
            text-decoration: none;
            color:white
        }
        a:hover {
            text-decoration: none;
            color:white
        }
        a:active {
            text-decoration: none;
            color:white
        }    
    
}
// .desktop-usp{
// @include flex-container;
//     .uspar{
//         min-height: 100vh;
//         color:white;
//         background: none;
//         display:flex;
//         flex-wrap: wrap;
//         justify-content: space-around;
//         align-items: center;
//         .header{
//             width: 100%;
//             min-height: 40vh;
//         }
//         .usp-container {
//             display:flex;
//             background-color: $primary-color2;
//             padding: $padding; 
//         justify-content: center;
//         align-items: center;

//         }
        
//             .usp-picture{
//             flex-grow: 1;
//             min-width: 30%;

//         }
//             .usp-text{
//             background-color: $primary-color;
//             flex-grow: 2;
//             padding: $padding;
//             color:black;
//             min-width: 60%
//         }
//     }


// }

.contact-container {
    @include block-container;
    background-color: $primary-color;
    min-width: 100%;
    padding-top: 2rem;
    min-height: 90vh;
    .contact-text {
        display: none;
    }
    header {
        min-width: 100%;
    }
    input.contact-large, textarea.contact-large {
        display: none;
    }
    input.contact-small, textarea.contact-small {
    @include block-container;
    }
    textarea {
        min-height: 5rem;
    }
}
.contact-head{
    text-align: center; 
}
form{
   
    padding: 2rem;
}
input[type=text], textarea {
    padding: 0.5rem 5rem;
    border: none;
    border-bottom: 2px solid black;
    background-color: $primary-color;
   
}


@media #{$width-mobile}{

    .parallax{
        background-image:none;
    }

h1,h2,h3{
        text-transform: uppercase;
    }
    .slogan-cont{
    display: none;
}
.home-container{
    min-height: 100vh;
}
footer{

    font-size: $fontsize-mobile;
}
     .desktop-usp{   
        display: none;
    } 
  .topnav a {
    display: none;

  }

  .foot-adress{
      display: none;
  }
  .topnav{
      float: left;
  }
  .topnav a.icon {
    display: block;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    padding: 14px 16px;
    text-shadow: none;
    color: black;  
  }

    .topnav.responsive { 
    position: fixed;
    background-color: $primary-color;

    a:not(:last-child){
    display: block;
    padding: 14px 16px;
    text-shadow: none;
    width: 100%;
    font-size: 1rem;
    color: black;
    letter-spacing: normal;
    
    &:hover{
       background-color: lighten( $primary-color2, 30% );
    }
  }
  }
  footer{
    display: inline-block;
    min-width: 100%;
    min-height: 10vh;
    background-color: $primary-color2;
    text-transform: uppercase;
    }

%foot-shared{
float: left;
width: 50%;
min-height: 100%;
color: $nav-color;
text-decoration: none;
text-align: center;
font-size:0.5rem;
letter-spacing: 5px;
text-shadow: 1px 1px $start-shadow;

    
    a{
        text-decoration: none;
        font-size:$fontsize-mobile;
        color: $logo-color;
    &:visited{
        color: $logo-color;
    }
    &:hover{
        font-size: 1rem;
        transition: all 400ms;
    }
        
}  

}

.foot-contact{
    min-width: 33.33%;
    @extend %foot-shared;

 
}

.foot-adress{
    min-width: 33.33%;
    @extend %foot-shared;

}

.foot-follow{
    min-width: 33.33%;
    @extend %foot-shared;

}
}   

@media #{$width-tablet}{
p{
    font-size: $fontsize-tablet;

}
h1,h2,h3{
    text-transform: uppercase;
}
.slogan-cont{
    display: none;
}
.home-container{
    min-height: 100vh;
}

    .assignment-backgrund{
        text-align: center;
        width: 100%;

        .assignment-1{
            display: inline-block;
            width: 40%;
            margin: 1rem;
            padding: 1rem;
            padding-top: 15rem;
        }

    
        .assignment{
            display: inline-block;
            width: 40%;
            margin: 1rem;
            padding: 1rem;
            
        }
    }
    .desktop-usp{   
        display: none;
    } 
 
    .services-container{

        .service{
            display: inline-block;
            width: 30%;
            padding-top: 15rem;
        }
    }
  .topnav a {
    display: none;

  }
  .topnav a.icon {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 14px 16px;
    text-shadow: none;
    color: black;  
  }

    .topnav.responsive { 
    position: fixed;
    background-color: $primary-color;
    flex-direction:column;

    a:not(:last-child){
    display: flex;
    padding: 14px 16px;
    text-shadow: none;
    width: 100%;
    font-size: 1rem;
    color: black;
    letter-spacing: normal;
    
    &:hover{
       background-color: lighten( $primary-color2, 30% );
    }
  }
  }
  footer{
    display: inline-block;
    min-width: 100%;
    min-height: 10vh;
    background-color: $primary-color2;
    text-transform: uppercase;

    a{
        text-decoration: none;
        font-size:$fontsize-mobile;
        color: $logo-color;
    &:visited{
        color: $logo-color;
    }
    &:hover{
        font-size: 1rem;
        transition: all 400ms;
    }
        
}  

}

form{
    padding-top: 15rem;
}

.foot-contact{
    min-width: 33.33%;
    @include footer-shared-block;

 
}

.foot-adress{
    min-width: 33.33%;
    @include footer-shared-block;

}

.foot-follow{
    min-width: 33.33%;
    @include footer-shared-block;

}
  
 }   

@media #{$width-desktop}{

    p{
        font-size: $fontsize-desk;
    
    }
    h1, h2, h3{
        text-transform: uppercase;
    }

    .about-us-container{
       @include flex-column;
        .about-box{
            width: 50%;
            align-self: center;
            
        }
    }

    
    .home-container{
        background-image: $waves-desk-small;
    }
    .assignment-container{
        background: none;
        padding:0;

            .assignment-backgrund{
                background-color: $primary-color;
                color:white;
                width:100%;
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;  
                margin: 0;
                padding: 0;
                    header{
                        width:100%;
                    } 
             
            }  
        .assignment{
            width: 40%;
            margin-top: -20rem;
            min-height: 35vh;
            padding: 0;
            background-color:$primary-color2;
            border: $padding;
            .assignment-picture{
                padding:0;
            } 
        }    
    }  
    .services-container{
      
        background: none;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; 
            header{
                width:100%;
            }
            .service{

                width: 30%;
                padding: 0;
                background-color:$primary-color2;
                min-height: 40vh;
              
            }
        }
        .contact-container {
        background-color: transparent;
        .contact-text {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        input.contact-small, label, textarea.contact-small {
            display: none;
        }
        input.contact-large, textarea.contact-large {
            display: flex;
        }
    }
    input[type=text], textarea {
        padding: 0.5rem;
        border: 2px solid black;
        margin: 1rem 0.5rem;
        resize: vertical;
        color: white;
        background-color: white;
        min-width: 700px;
    }
    textarea {
        max-height: 100px;
    }

}
}


// In this 'final' scss-file, in sass we split up the code
// into partials to manage it more easily. 

// Partials
@supports (display: flex){
@import 'variabel';
@import 'reset';
@import 'navbar';
@import 'button';
@import 'main';
@import 'footer';
@import 'aside';
@import 'mixins';

.home-container {
    @include flex-container;
    background-image: $waves-icon ,$start-pic;
    min-height: 80vh;;
    background-repeat: no-repeat,no-repeat;
    background-position: 50% 50%;
    background-size: auto, cover;
}


 
.about-us-container {
    @include flex-container;
    background-color: $primary-color2;
    color: $primary-color;
    min-height: 100vh;
    @include padding-bot;
    a{
        color: black;
        &:hover{
            color: $primary-color2;
        }
    }
    .about-box{
        padding: 0 2rem;
    }

}
.employees-container 
{   
    @include flex-container;
    background-color: $primary-color2;
    color: $primary-color;
    flex-flow: row nowrap;
    div {
        background-color: $primary-color;
        color: black;
    }

}
.assignment-container {
    @include flex-container;
    min-height: 100vh;
    background-color: $primary-color;
    color: black;
    // .assignment-backgrund, .assignment-1, .assignment{
    // padding-top: 0;
    // }
    
    }

.services-container {
    @include flex-container;
    background-color: $primary-color2;
    
    min-height: 100vh;
    @include padding-bot;
    background-color: $primary-color2;
    header{
        width: 100%;
        color:white;
    }
   
        a:link {
            text-decoration: none;
            color:white
        }
        a:visited {
            text-decoration: none;
            color:white
        }
        a:hover {
            text-decoration: none;
            color:white
        }
        a:active {
            text-decoration: none;
            color:white
        }    
        .picture-services{
            padding: $padding;
        }
    
}
.desktop-usp{
@include flex-container;
    .uspar{
        min-height: 100vh;
        color:white;
        background: none;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .header{
            width: 100%;
            min-height: 40vh;
        }
        .usp-container {
            display:flex;
            background-color: $primary-color2;
            padding: $padding; 
        justify-content: center;
        align-items: center;

        }
        
            .usp-picture{
            flex-grow: 1;
            min-width: 30%;

        }
            .usp-text{
            background-color: $primary-color;
            flex-grow: 2;
            padding: $padding;
            color:black;
            min-width: 60%
        }
    }


}

.contact-container {
    background-color: $primary-color;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    min-width: 100%;
    min-height: 90vh;
    .contact-text {
        display: none;
    }
    header {
        min-width: 100%;
    }
    input.contact-large, textarea.contact-large {
        display: none;
    }
    input.contact-small, textarea.contact-small {
        display: flex;
    }
    textarea {
        min-height: 5rem;
    }
}
.contact-head{
    text-align: center; 
}
input[type=text], textarea {
    padding: 0.5rem 5rem;
    border: none;
    border-bottom: 2px solid black;
    background-color: $primary-color;
}


@media #{$width-mobile}{

h1,h2,h3{
        text-transform: uppercase;
    }
    .slogan-cont{
    display: none;
}
.home-container{
    min-height: 100vh;
}
footer{

    font-size: $fontsize-mobile;
}
     .desktop-usp{   
        display: none;
    } 
  .topnav a {
    display: none;

  }

  .foot-adress{
      display: none;
  }
  .topnav a.icon {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 14px 16px;
    text-shadow: none;
    color: black;  
  }

    .topnav.responsive { 
    position: fixed;
    background-color: $primary-color;
    flex-direction:column;

    a:not(:last-child){
    display: flex;
    padding: 14px 16px;
    text-shadow: none;
    width: 100%;
    font-size: 1rem;
    color: black;
    letter-spacing: normal;
    
    &:hover{
       background-color: lighten( $primary-color2, 30% );
    }
  }
  }

}   

@media #{$width-tablet}{
p{
    font-size: $fontsize-tablet;

}
h1,h2,h3{
    text-transform: uppercase;
}
.slogan-cont{
    display: none;
}
.home-container{
    min-height: 100vh;
}
    .assignment-backgrund{

        display: flex;
        flex-direction: row;
        padding: 0;
            header {
                 width: 100%;
            }
            .assignment, .assignment-1{
            width: 45%;
                .assignment-picture{
                    padding: $padding;
                }
        }
    }
    .desktop-usp{   
        display: none;
    } 
 
    .services-container{
        flex-wrap: wrap;
            header{
            width: 100%
            }
        .service{
            width: 30%;
            padding: 0;
        }
    }
  .topnav a {
    display: none;

  }
  .topnav a.icon {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 14px 16px;
    text-shadow: none;
    color: black;  
  }

    .topnav.responsive { 
    position: fixed;
    background-color: $primary-color;
    flex-direction:column;

    a:not(:last-child){
    display: flex;
    padding: 14px 16px;
    text-shadow: none;
    width: 100%;
    font-size: 1rem;
    color: black;
    letter-spacing: normal;
    
    &:hover{
       background-color: lighten( $primary-color2, 30% );
    }
  }
  }
 }   

@media #{$width-desktop}{

    p{
        font-size: $fontsize-desk;
    
    }
    h1, h2, h3{
        text-transform: uppercase;
    }

    .about-us-container{
       @include flex-column;
        .about-box{
            width: 50%;
            align-self: center;
            
        }
    }

    
    .home-container{
        background-image: $waves-desk-small;
    }
    .assignment-container{
        background: none;
        padding:0;

            .assignment-backgrund{
                background-color: $primary-color;
                color:white;
                width:100%;
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;  
                margin: 0;
                padding: 0;
                    header{
                        width:100%;
                    } 
             
            }  

        
        .assignment, .assignment-1{
            width: 40%;
            margin-top: -20rem;
            min-height: 35vh;
            padding: 0;
            background-color:$primary-color2;
            border: $padding;
            .assignment-picture{
                padding:0;
            } 
        }    
    }  
    .services-container{
      
        background: none;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; 
            header{
                width:100%;
            }
            .service{

                width: 30%;
                padding: 0;
                background-color:$primary-color2;
                min-height: 40vh;
              
            }
        }
        .contact-container {
        background-color: transparent;
        .contact-text {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        input.contact-small, label, textarea.contact-small {
            display: none;
        }
        input.contact-large, textarea.contact-large {
            display: flex;
        }
    }
    input[type=text], textarea {
        padding: 0.5rem;
        border: 2px solid black;
        margin: 1rem 0.5rem;
        resize: vertical;
        color: white;
        background-color: white;
        min-width: 700px;
    }
    textarea {
        max-height: 100px;
    }

}
footer{
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $primary-color2;
    text-transform: uppercase;
    }
    

    .foot-contact{
    @include footer-shared-flex;
    min-width: 33.33%;


 
}

.foot-adress{
    @include footer-shared-flex;
    min-width: 33.33%;

}

.foot-follow{
    @include footer-shared-flex;
    min-width: 33.33%;


}
}






