// In this 'final' scss-file, in sass we split up the code
// into partials to manage it more easily. 

// Partials
@import 'variabel';
@import 'reset';
@import 'navbar';
@import 'button';
@import 'main';
@import 'footer';
@import 'aside';
@import 'mixins';

p{
    max-width: 900px;
    margin: auto;
}

.home-container {
    background-image: $waves-icon ,$start-pic;
    width: 100%;
    height: auto;
    padding-bottom: 500px;
    background-repeat: no-repeat,no-repeat;
    attachment: fixed;
    background-position: center;
}
.om-oss-container {
    @include image-icon;
    background-color: $primary-color2;
    color: $primary-color;
    text-align: justify;
}
.medarbetar-container {
    @include image-icon;
    display: flex;
    div {
        background-color: $primary-color;
        color: black;
    }
}
.uppdrag-container {
    @include image-icon;
    background-color: $primary-color;
    text-align: justify;

}
.tjanster-container {
    @include image-icon;
    background-color: $primary-color2;
    color: $primary-color;
    text-align: justify;
}
