// In this 'final' scss-file, in sass we split up the code
// into partials to manage it more easily. 

// Partials
@import 'variabel';
@import 'reset';
@import 'navbar';
@import 'button';
@import 'main';
@import 'footer';
@import 'aside';
@import 'mixins';

p{
    max-width: 800px;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

.home-container {
    background-image: $waves-icon ,$start-pic;
    width: 100%;
    height: 100vh;;
    background-repeat: no-repeat,no-repeat;
    attachment: fixed;
    background-position: center;
    background-size: auto, cover;

}
.about-us-container {
    @include flex-container;
    background-color: $primary-color2;
    color: $primary-color;
}
.employees-container 
{   
    @extend .about-us-container;
    flex-flow: row nowrap;
    div {
        background-color: $primary-color;
        color: black;
    }

}
.assignment-container {
    @extend .about-us-container;
    background-color:$primary-color;
    color: black;
    }

.services-container {
   @extend .about-us-container;
    div{    
    background-color:$primary-color2; 
    }

}
.desktop-usp{
       @media #{$widthmobile}
    {
        display: none;
    } 
}   

.contact-container{
    background-color: $primary-color;
}

@media screen and (min-width: 700px) {
    .assignment-container{
        flex-wrap: nowrap;
    
    }
    .services-container{
        flex-wrap: nowrap;
    }
    }

//input[type=text], textarea{
//    @include contact-form;
//    background-color: $primary-color;
//}


