// In this 'final' scss-file, in sass we split up the code
// into partials to manage it more easily. 

// Partials
@import 'variabel';
@import 'reset';
//@import 'navbar';
@import 'button';
@import 'main';
@import 'footer';
@import 'aside';
@import 'mixins';



.topnav {
  overflow: hidden;
  position: fixed;
  background-color: none;
  width: 100%;
  background-color: #387284;
  text-align: center;
}

.topnav a {
    text-align: center;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: $font-stack;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}


p{
    max-width: 800px;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;   
}

.home-container {
    background-image: $waves-icon ,$start-pic;
    width: 100%;
    min-height: 100vh;;
    background-repeat: no-repeat,no-repeat;
    attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-position: 50% 36%;
    background-size: auto, cover;

}

 
.about-us-container {
    @include flex-container;
    background-color: $primary-color2;
    color: $primary-color;
    min-height: 100vh;
    @include padding-bot;

}
.employees-container 
{   
    @include flex-container;
    background-color: $primary-color2;
    color: $primary-color;
    flex-flow: row nowrap;
    div {
        background-color: $primary-color;
        color: black;
    }

}
.assignment-container {
    @extend .about-us-container;
    
    color: black;
   
    
    }

.services-container {
   @extend .about-us-container;
    div{    
    background-color:$primary-color2; 
    }
    .picture-desktop{
        padding: 0 2rem;
    }
.desktop-usp{
@extend .about-us-container;
}
}

       @media #{$widthmobile}{
     .desktop-usp{   
        display: none;
    } 
    .usp-header{
       display: none; 
    }
}   

.contact-container{
    background-color: $primary-color;
}

@media screen and (min-width: 375px) {
    .assignment-container{
        flex-wrap: wrap;
 header {
    width: 100%

 }
 .assignment{
    width: 40%;

 }
 }


    .services-container{
        flex-wrap: wrap;
        header{
            width: 100%
        }
    .service{
        width: 30%
    }
    }
    }
    @media screen and (max-width: 799px) {
    .usp-header{
       display: none; 
   }
}
@media screen and (min-width: 800px) {
    .home-container{
        background-image: $waves-desk;


    }
    .assignment-container{
        
        background: none;
        .assignment{
            background-color:$primary-color;
            

        }
        
    }
    .usp-header{
        min-height: 50vh;
    }
    .services-container{

       min-height: 50vh; 
       background-color:$primary-color;

    header{
        display: none;
    }
    div{
        padding:0 3rem;
        color:white;
       background-color:$primary-color; 
    }
    }

.desktop-usp{
    height: 100vh;

}

.uspar{
    display: flex;
    
    flex-flow: row nowrap;
    align-content:flex-end;
    height: 40vh;
    div{
        padding: 1rem;
    }
    .usp-text{
        background-color:$primary-color2;
        padding: 1rem;
        margin: 1rem;
    }
}
}


input[type=text], textarea{
  @include contact-form;
   background-color: $primary-color;
}

.contact-container{
    padding: 40px;
}





